# Backup files
backups/
# Compiled
*.elc

# Packaging
.cask
straight/


# ===================
# Various emacs files
# ===================
server/
transient/
var/
eshell/

bookmarks
places
recentf
ido.last

projectile-bookmarks.eld
projectile.cache

.dap-breakpoints
.lsp-session-v1

config.el
custom/init-dap.el
early-init.el

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
